body{
    font-family: "Roboto Condensed", sans-serif;
}

header{
    padding-left: 1%;
}

header, footer{
    background-color: #18181b;  
}

.title{
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: bold;
    color: white;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

table{
    width: 100%;
}

p{
    margin: 0;
    padding: 0;
}

main{
    padding-top: 2%;
    padding-bottom: 2%;
}

.encabezado{
    color: #6e6e77;
    font-weight: 400;
    overflow: hidden;
    padding: 0px;
    margin: 5px;
}

.dia{
    color: #6e6e77;
    font-weight: 400;
    overflow: hidden;
    padding: 0px;
}

.casilla{
    border: 1px solid black;
    /*background-color:#d3f3df;
    border-radius: 5px;*/
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 5px;
}

.pie{
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
}

#modal-btn{
    font-size: large;
}

/* ESTILOS DEL MODAL */

.title-modal{
    color: black;
    font-size:x-large;
    text-transform: uppercase;
    padding-left: 3%;
}

.btn{
    padding: 0;
    color: white;
    border: none;
}

.btn-modal{
    text-align: end;
    padding-right: 10%;
}

.btn:hover, 
.btn:focus{
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.modal{
    font-family: "Roboto Condensed", sans-serif;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-header{
    border: none;
    padding-right: 5%;
}

.modal-content{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
}

.modal-body{
    padding: 0;
    font-size: large;
}

label{
    width: 100%;
    text-align: right;
}

select, textarea{
    width: 100%;
    border: 1px solid #ccc;
    display: inline-block;
}
select option:focus,
select option:hover{
    background-color: #888;
    color: black;
}

.col-dia-options, .col-hora-options, .col-color-options, .col-actividad-text{
    padding-right: 5%;
}

.col-dia, .col-hora, .col-color, .col-actividad{
    padding-right: 3%;
    width: 30%;
    text-transform: uppercase;
}

.col-dia-options, .col-hora-options, .col-color-options, .col-dia, .col-hora, .col-color{
    padding-bottom: 3%;
}

.btn-guardar{
    background-color: black;
    width: 100%;
    font-size: large;
    color: white;
    border: none;
    border-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
}

.btn-guardar:hover, 
.btn-guardar:focus{
    
    cursor: pointer;
}

.modal-footer{
    border: none;
    padding: 3% 5% 3% 5%;
}

@media screen and (max-width: 700px){
    .modal-content{
        width: 80%;
    }
    .title-modal, .btn-guardar, .col-dia-options, .col-hora-options, .col-color-options, .col-dia, .col-hora, .col-color, .col-actividad, .col-actividad-text{
        font-size: medium;
    }
}